@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";
 
@import "nativewind/theme";@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {

  --color-primary: #242A32;
  --color-accent: #0296E5;
  --color-secondary: #3A3F47;
  --color-light-secondary: #92929D;
  --color-tint: #FF8700;
  --color-neutral: #FFFFFF;
  --color-text: #67686D;
  --color-background: #242A32;
 
}